body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: hidden;
  height: 100%;
}

@font-face {
  font-family: Silkscreen;
  src: url(./fonts/slkscr.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Minecraftia;
  src: url(./fonts/Minecraftia.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
